[submodule "submodules/ark-ui"]
	path = submodules/ark-ui
	url = https://github.com/ARK-Electronics/ark-ui.git
[submodule "submodules/flight_review"]
	path = submodules/flight_review
	url = https://github.com/PX4/flight_review.git
[submodule "submodules/logloader"]
	path = submodules/logloader
	url = https://github.com/ARK-Electronics/logloader.git
[submodule "submodules/mavlink-router"]
	path = submodules/mavlink-router
	url = https://github.com/mavlink-router/mavlink-router.git
[submodule "submodules/mavsdk-examples"]
	path = submodules/mavsdk-examples
	url = https://github.com/ARK-Electronics/mavsdk-examples.git
[submodule "submodules/polaris-client-mavlink"]
	path = submodules/polaris-client-mavlink
	url = https://github.com/ARK-Electronics/polaris-client-mavlink.git
[submodule "submodules/RemoteIDTransmitter"]
	path = submodules/RemoteIDTransmitter
	url = https://github.com/ARK-Electronics/RemoteIDTransmitter.git
[submodule "submodules/rtsp-server"]
	path = submodules/rtsp-server
	url = https://github.com/ARK-Electronics/rtsp-server.git
