[Unit]
Description=Mavlink Router
After=network-online.target

[Service]
Type=simple
ExecStart=/home/jetson/.local/bin/start_mavlink_router.sh
Restart=on-failure
RestartSec=5

Environment=PATH=/home/jetson/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/home/jetson

[Install]
WantedBy=default.target
